[submodule "lib/cs-locker-ui-sdk-droid"]
	path = lib/cs-locker-ui-sdk-droid
	url = https://github.com/Ceskasporitelna/cs-locker-ui-sdk-droid.git
[submodule "lib/cs-uniforms-sdk-droid"]
	path = lib/cs-uniforms-sdk-droid
	url = https://github.com/Ceskasporitelna/cs-uniforms-sdk-droid.git
[submodule "lib/cs-places-sdk-droid"]
	path = lib/cs-places-sdk-droid
	url = https://github.com/Ceskasporitelna/cs-places-sdk-droid.git
[submodule "lib/cs-appmenu-sdk-droid"]
	path = lib/cs-appmenu-sdk-droid
	url = https://github.com/Ceskasporitelna/cs-appmenu-sdk-droid.git
[submodule "lib/cs-transparent-acc-sdk-droid"]
	path = lib/cs-transparent-acc-sdk-droid
	url = https://github.com/Ceskasporitelna/cs-transparent-acc-sdk-droid.git
[submodule "lib/cs-netbanking-sdk-droid"]
	path = lib/cs-netbanking-sdk-droid
	url = https://github.com/Ceskasporitelna/cs-netbanking-sdk-droid.git
[submodule "lib/cs-corporate-sdk-droid"]
	path = lib/cs-corporate-sdk-droid
	url = https://github.com/Ceskasporitelna/cs-corporate-sdk-droid.git
